<%= form_for @story do |f| %>
  <p>
    <input type="hidden" value="<%= current_user.id %>" name="user_id">
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit 'Print!' %>
  </p>
<% end %>
