<%= render 'shared/navbar' %>

  <br><br>

<div class="col-md-6 col-md-offset-3">
  <div class="profile-content">
    <h1><%= @story.title %></h1>
    <h4>By: <%= @story.authors %></h3>
    <h4>Title: <%= @story.genre %></h3>
    <p><%= @story.body %></p>
  </div>
</div>
